<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Minichat</title>
</head>

<body class="bg-slate-50">
  <%- include('components/header') %>
  <main class="container max-w-7xl w-full py-2 mx-auto z-50 mb-4">
    <div class="flex flex-col items-center justify-center space-y-4 p-4">
      <h3 class="bg-slate-200 bg-opacity-50 text-sky-700 p-1 rounded-full font-bold w-fit mb-2 text-center">#YourDreamStartFromHere</h3>
      <h2 class="font-semibold text-slate-700 text-4xl text-center max-w-md">Best and latest features from us<span class="text-sky-700">.</span></h2>
    </div>
    <div class="flex flex-wrap">
      <%- include('components/card-intro-index')  %> 
      <%- include('components/card-intro-index')  %> 
      <%- include('components/card-intro-index')  %> 
      <%- include('components/card-intro-index')  %> 
    </div>
  </main>
</body>

</html>