<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head') %>
  <title>Minichat | Chat room</title>
</head>

<body class="bg-slate-50">
  <%- include('../components/header-page') %>
  <main class="container max-w-7xl w-full py-2 mx-auto z-50 mb-4">
    <div class="p-4 mb-4" id="filterRooms">
      <div class="flex items-center w-full p-2 bg-white rounded-md shadow">
        <button>
          <svg class="w-5 h-5 fill-slate-700" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z"/></svg>
        </button>
        <div class="flex-1">
          <input class="w-full p-1 pl-8 bg-transparent space-x-2" type="text" name="name" id="searchRoomInput" placeholder="Search name, language, level, topic, ...">
        </div>
      </div>
    </div>
    <div id="roomsList" class="flex flex-wrap ">

      <% if (auth.auth) { %>
        <div modal-target="createRoomModal" class="p-4 xl:w-1/3 md:w-1/2 w-full min-h-0 justify-self-stretch self-stretch">
          <div class="p-2 bg-slate-100 rounded rounded-br-lg border border-slate-400 border-dashed group hover:border-sky-700 h-full cursor-pointer flex flex-col items-center justify-center">
            <button class="mb-3">
              <svg class="w-6 h-6 fill-slate-400 group-hover:fill-sky-700" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M23,11H13V1a1,1,0,0,0-1-1h0a1,1,0,0,0-1,1V11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H11V23a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1V13H23a1,1,0,0,0,1-1h0A1,1,0,0,0,23,11Z"/></svg>
            </button>
            <p class="text-slate-400 group-hover:text-sky-700 font-semibold text-sm">Create your own room</p>
          </div>
        </div>
      <% } %>

    </div>
    <%- include('../components/modal-create-room') %>
  </main>
  <%- include('../components/footer') %>
  <script>
    var authUser = <%- JSON.stringify(auth) %>;
  </script>
  <script src="/js/public_rooms.js" defer></script>
</body>

</html>
