<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head') %>
  <title>Minichat | Chat room</title>
  <script src="/js/update-profile.js" defer></script>
</head>

<body class="bg-slate-50">
  <%- include('../components/header-page') %>
  <main class="container max-w-7xl w-full py-2 mx-auto z-50 mb-4">

    <form action="/profile" method="post" enctype="multipart/form-data" class="space-y-4">

      <div class="flex items-center space-x-6">
        <div class="shrink-0">
          <img id="picturePreview" class="h-16 w-16 object-cover rounded-full" src="<%= auth.user.picture %> " alt="Current profile photo" />
        </div>
        <label for="pictureInput" class="block p-2 rounded-full bg-sky-50 hover:bg-sky-100 font-medium text-sky-700 transition-all text-sm">
          <span>Choose an image</span>
          <input name="picture" id="pictureInput" type="file" accept="image/*" class="hidden" />
        </label>
      </div>
      <% if (errors.picture) { %>
        <p class="text-sm text-red-400 font-medium mt-1"><%= errors.picture.msg %></p>
      <% } %>

      <label class="block">
        <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block font-medium text-slate-700 capitalize">
          Email
        </span>
        <input disabled name="email" type="text" value="<%= auth.user.email %>" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-200 rounded-md text-sm font-medium text-slate-700 placeholder-slate-400 disabled:bg-slate-200" />
        <% if (errors.email) { %>
          <p class="text-sm text-red-400 font-medium mt-1"><%= errors.email.msg %></p>
        <% } %>
      </label>

      <label class="block">
        <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block font-medium text-slate-700 capitalize">
          Introduction
        </span>

        <textarea name="introduction" placeholder="Write something about your self" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-200 rounded-md text-sm font-medium text-slate-700 placeholder-slate-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
          invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500 resize-none" rows="10"></textarea>
        <% if (errors.introduction) { %>
          <p class="text-sm text-red-400 font-medium mt-1"><%= errors.introduction.msg %></p>
        <% } %>
      </label>

      <label class="block">
        <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block font-medium text-slate-700 capitalize">
          Username
        </span>
        <input name="username" type="text" value="<%= auth.user.username %>" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-200 rounded-md text-sm font-medium text-slate-700 placeholder-slate-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
          invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
        <% if (errors.username) { %>
          <p class="text-sm text-red-400 font-medium mt-1"><%= errors.username.msg %></p>
        <% } %>
      </label>

      <div>
        <button type="submit" class="box-border block text-white p-1 px-4 hover:bg-white bg-sky-700 hover:text-slate-700 rounded rounded-br-lg border-2 border-sky-700 transition-all">Update profile</button>
      </div>

    </form>

  </main>
  <%- include('../components/footer') %>
</body>

</html>