<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/head') %>
    <title>Dashboard | Minichat Admin</title>
</head>

<body>
    <%- include('../../components/nav-admin') %>
        <div class="flex overflow-hidden bg-white pt-16">
            <%- include('../../components/sidebar-admin') %>
                <div class="bg-gray-900 opacity-50 fixed inset-0 z-10 hidden" id="sidebarBackdrop"></div>
                <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
                    <main>
                        <div
                            class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
                            <div class="mb-1 w-full">
                                <div class="mb-4">
                                    <%- include('../../components/breadcrumb-admin', {breadcrumbs : [{text: "Dashboard", link: "/admin/dashboard"}, {text: "Posts", link: "/admin/posts"}, ]}) %>
                                    <h1 class="text-xl sm:text-2xl font-semibold text-gray-900">All posts</h1>
                                </div>
                                <div class="sm:flex">
                                    <div class="hidden sm:flex items-center sm:divide-x sm:divide-gray-100 mb-3 sm:mb-0">
                                        <form class="lg:pr-3" action="/admin/posts" method="GET">
                                            <label for="posts-search" class="sr-only">Search</label>
                                            <div class="mt-1 relative lg:w-64 xl:w-96">
                                                <input type="text" name="search" id="posts-search" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5" value="<%= req.query.search ?? '' %>" placeholder="Search for posts">
                                            </div>
                                        </form>
                                        <div class="flex space-x-1 pl-0 sm:pl-2 mt-3 sm:mt-0">
                                            <button id="bulkDeleteBtn" href="#" class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center">
                                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="overflow-x-auto">
                                <div class="align-middle inline-block min-w-full">
                                    <div class="shadow overflow-hidden">
                                        <table class="table-fixed min-w-full divide-y divide-gray-200">
                                            <thead class="bg-gray-100">
                                                <tr>
                                                    <th scope="col" class="p-4">
                                                        <div class="flex items-center">
                                                            <input id="checkboxAll" aria-describedby="checkbox-1"
                                                                type="checkbox"
                                                                class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-sky-200 h-4 w-4 rounded">
                                                            <label for="checkboxAll" class="sr-only">checkbox</label>
                                                        </div>
                                                    </th>
                                                    <th scope="col"
                                                        class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                                        post
                                                    </th>
                                                    <th scope="col"
                                                        class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                                        like
                                                    </th>
                                                    <th scope="col" class="p-4">
                                                    </th>
                                                </tr>
                                            </thead>
                                            
                                            <% for (let post of data) { %>
                                            <tbody class="bg-white divide-y divide-gray-200">
                                                <tr class="hover:bg-gray-100">
                                                    <td class="p-4 w-4">
                                                        <div class="flex items-center">
                                                            <input checkbox-normal data-id="<%= post._id %>" id="checkbox-<%= post._id %>" type="checkbox" class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-sky-200 h-4 w-4 rounded">
                                                            <label for="checkbox-<%= post._id %>" class="sr-only">checkbox</label>
                                                        </div>
                                                    </td>
                                                    <td class="p-4 whitespace-nowrap">
                                                        <div class="text-sm font-normal text-gray-500">
                                                            <div class="text-base font-medium text-gray-500"><%=post.content%></div>
                                                        </div>
                                                    </td>
                                                    <td class="p-4 whitespace-nowrap">
                                                        <div class="text-sm font-normal text-gray-500"><%=post.like.size%></div>
                                                    </td>
                                                    <td class="p-4 whitespace-nowrap space-x-2">
                                                        
                                                        <button type="button" btn-delete-post data-id="<%= post._id %>" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
                                                            <svg class="mr-2 h-5 w-5" fill="currentColor"
                                                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                                    clip-rule="evenodd"></path>
                                                            </svg>
                                                            Delete post
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <% } %> 
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white sticky sm:flex items-center w-full sm:justify-between bottom-0 right-0 border-t border-gray-200 p-4">
                            <div class="flex items-center mb-4 sm:mb-0">
                                <a href="?page=<%=page - 1%>" class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center">
                                <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                </a>
                                <a href="?page=<%=page + 1%>" class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center mr-2">
                                <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                </a>
                                <span class="text-sm font-normal text-gray-500">Showing page <span class="text-gray-900 font-semibold"><%= page %></span> of <span class="text-gray-900 font-semibold"><%= lastPage %></span></span>
                            </div>
                            <div class="flex items-center space-x-3">
                                <a href="?page=<%=page - 1%>"
                                    class="flex-1 text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:ring-sky-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center">
                                    <svg class="-ml-1 mr-1 h-5 w-5"  fill=" currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Previous
                                </a>
                                <a href="?page=<%=page + 1%>"
                                    class="flex-1 text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:ring-sky-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center">
                                    Next
                                    <svg class="-mr-1 ml-1 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </main>
                </div>
        </div>
        <%- include('../../components/modal-confirm', {modal: {message: 'Are you sure you want to delete this post ?', id:'modalConfirmDelete'}}) %>
        <%- include('../../components/modal-confirm', {modal: {message: 'Are you sure you want to bulk delete posts?', id:'modalConfirmBulkDelete'}}) %>
        <script src="/static/js/sidebar.js"></script>
        <script src="/js/admin_posts.js"></script>
</body>

</html>
